body {
width: 100%;
max-width: 1200px;
margin: 0 auto;
background-color: #151f33;
color: white;
font-size: 18px;
}

figure {
background-color: #c3c2c1;
padding: 15px;
border: 1px solid #23365f;
width: 400px;
height: 400px;
color: #070f21;
float: left;
}

figure img {
width: 400px;
padding-bottom: 15px;
}

section {
clear: both;
}